{% extends 'shop/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" alt="" class="card-img-top product-image">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">₸{{ product.price }}</p>
                    <button class="btn btn-primary buy-btn" id="buy-{{ product.id }}" value="{{ product.id }}">Купить
                    </button>
                    <div class="quantity-controls d-none mt-2" id="controls-{{ product.id }}">
                        <button class="btn btn-danger decrement-btn" value="{{ product.id }}">-</button>
                        <span class="quantity mx-2" id="quantity-{{ product.id }}">0</span>
                        <button class="btn btn-success increment-btn" value="{{ product.id }}">+</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "{% url 'cart_count' %}",
            type: 'get',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                console.log(response);
                cart_count = response.cart_count;
                $('.cart-count').text(cart_count);
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });

        $.ajax({
            url: "{% url 'check_cart' %}",
            type: 'get',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function (response) {
                for (let key in response) {
                    let quantity = response[key];
                    if (quantity > 0) {
                        $('#buy-' + key).hide();
                        $('#controls-' + key).removeClass('d-none').show();
                        $('#quantity-' + key).text(quantity);
                    }
                }
            },
            error: function (xhr, errmsg, err) {
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });

        $(document).on('click', '.buy-btn', function (e) {
            e.preventDefault();
            let id = $(this).val();
            $.ajax({
                url: "{% url 'add_to_cart' id=0 %}".replace('0', id),
                type: 'post',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    $('#buy-' + id).hide();
                    $('#controls-' + id).removeClass('d-none').show();
                    $('#quantity-' + id).text(1);
                    $('.cart-count').text(response.cart_count);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $(document).on('click', '.increment-btn', function (e) {
            e.preventDefault();
            let id = $(this).val();
            $.ajax({
                url: "{% url 'add_to_cart' id=0 %}".replace('0', id),
                type: 'post',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    let quantity = parseInt($('#quantity-' + id).text()) + 1;
                    $('#quantity-' + id).text(quantity);
                    $('.cart-count').text(response.cart_count);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $(document).on('click', '.decrement-btn', function (e) {
            e.preventDefault();
            let id = $(this).val();
            $.ajax({
                url: "{% url 'remove_from_cart' id=0 %}".replace('0', id),
                type: 'post',
                data: {
                    'id': id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                    let quantity = parseInt($('#quantity-' + id).text()) - 1;
                    if (quantity > 0) {
                        $('#quantity-' + id).text(quantity);
                    } else {
                        $('#controls-' + id).hide().addClass('d-none');
                        $('#buy-' + id).show();
                    }
                    $('.cart-count').text(response.cart_count);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>
{% endblock %}